footer {
    background-color: black;
    color: white;
    text-align: start;
    padding: 1rem 0;
    font-size: 0.9rem;
    width: 100%;
    height: auto;
    display: block;
    max-width: auto;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.link:hover {
    color: #ffffff;
}

.iconfooter {
    object-position: right top;
}