.button {
    border-radius: 12px;
    background-color: #5099ED;
    width: 160px;
    height: 45px;
    font-size: 20px;
    color: white;
    border: none;
}

image {
    width: 100%;
    height: auto;
    display: block;
    max-width: auto;
}

.buttonplan {
    border-radius: 12px;
    background-color: #5099ED;
    width: 160px;
    height: 45px;
    font-size: 20px;
    color: white;
    border: none;
}

.imgplan {
float: left;
width: 50%;
}